<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>临床受试者智能匹配与管理系统</title>
<!-- plugins:css -->
<link rel="stylesheet" th:href="@{/vendors/feather/feather.css}">
<link rel="stylesheet"
	th:href="@{/vendors/ti-icons/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet"
	th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
<link rel="stylesheet"
	th:href="@{/vendors/ti-icons/css/themify-icons.css}">
<link rel="stylesheet" type="text/css"
	href="@{/js/select.dataTables.min.css}">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- endinject -->
<link rel="shortcut icon" th:href="@{/images/Ace_Favicon.png}" />
<style>
/* Styling for the dropdown container */
.dropdown {
	display: inline-block;
	margin: 10px; /* Adjust margin as needed */
}

/* Styling for the label */
label {
	display: block;
	margin-bottom: 5px; /* Adjust margin as needed */
	font-weight: bold;
}

/* Styling for the select element */
select {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 200px;
	background-color: white;
	color: #333;
	cursor: pointer;
}

/* Styling for the disabled and selected option */
select option[disabled][selected], select option[selected] {
	font-style: italic;
}

/* Styling for the default selected option */
select option[selected] {
	font-weight: bold;
}

.chartDiv {
	margin-top: 20px;
	margin-bottom: 20px;
}

.dataChart {
	margin: 10px;
	height: 450px;
}
</style>
</head>


<body>
	<!-- min year of vacancy -->
	<input type="number" id="minYear" th:value="${minYear}" hidden>

	<div class="container-scroller">
		<div th:replace="fragments/topbar :: topbar"></div>
		<div class="page-body-wrapper">
			<div th:replace="fragments/sidebar :: sidebar"></div>
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin">
							<div class="row">
								<div class="col-12 col-xl-8 mb-4 mb-xl-0">
									<h3 class="font-weight-bold">Welcome!</h3>
								</div>
								<div class="col-12 col-xl-4">
									<div class="justify-content-end d-flex">
										<div class="dropdown flex-md-grow-1 flex-xl-grow-0">
											<div>
												<b>Year:</b> <select id="year" name="year">
													<option value="" disabled selected>Select Year</option>
													<option value="0" selected>All</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-4 stretch-card transparent">
							<div class="card card-tale">
								<div class="card-body">
									<p class="mb-4">临床试验总数</p>
									<p class="mb-2 fs-30" th:text="${totalTrials != null ? totalTrials : 0}"></p>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-4 stretch-card transparent">
							<div class="card card-dark-blue">
								<div class="card-body">
									<p class="mb-4">招募中试验</p>
									<p class="mb-2 fs-30" th:text="${activeTrials != null ? activeTrials : 0}"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
							<div class="card card-light-blue">
								<div class="card-body">
									<p class="mb-4">受试者总数</p>
									<p class="mb-2 fs-30" th:text="${totalSubjects != null ? totalSubjects : 0}"></p>
								</div>
							</div>
						</div>
						<div class="col-md-6 stretch-card transparent">
						<div class="card card-light-danger">
							<div class="card-body">
								<p class="mb-4">成功入组数</p>
								<p class="mb-2 fs-30" th:text="${totalEnrollments != null ? totalEnrollments : 0}"></p>
							</div>
						</div>
					</div>
				</div>

				<!-- Clinical Trial Charts -->
				<div id="clinicalTrialCharts"></div>
				<!-- End Clinical Trial Charts -->

				</div>
			</div>
		</div>
		<!-- main panel end-->



	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<!-- plugins:js -->
	<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}"></script>
	<script
		th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
	<script th:src="@{/js/dataTables.select.min.js}"></script>

	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script th:src="@{/js/off-canvas.js}"></script>
	<script th:src="@{/js/hoverable-collapse.js}"></script>
	<script th:src="@{/js/template.js}"></script>
	<script th:src="@{/js/settings.js}"></script>
	<script th:src="@{/js/todolist.js}"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script th:src="@{/js/dashboard.js}"></script>
	<script th:src="@{/javascripts/clinical_chart.js}"></script>
	<!-- Stomp -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<!-- SockJS -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	<!-- Stomp -->
	<script th:src="@{/javascripts/web_socket.js}"></script>
	<!-- End custom js for this page-->
</body>


</html>